GEMINI_API_KEY=
GOOGLE_CLIENT_ID=165924716021-q428n7d5iaevgc47up0rcv55cdab5hj0.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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cd ~/StudyPlan
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback